*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: red;
  padding: 20px;

}

.header-top{
  background-color: yellow;
  width: 100%;
  height: 40px;
}
.header-bottom{
  background-color: grey;
  width: 100%;
  height: 10px;
}
main{
  padding: 10px 10px;
  background-color: green;

}
main::after{
  content: "";
  display: table;
  clear: both;
}
.float-left{
  float: left;
}

.col-left{
  background-color: purple;
  width: 30%;
  border: 2px solid black;
  margin-bottom: 5%;
}
.col-center{
  background-color: purple;
  width: 40%;
  border: 2px solid black;
  margin:0 3%;
}
.col-right{
  width: 24%;
  margin-bottom: 5%;
}
.row{
  margin-top: 5%;
  border: 2px solid black;
}


footer{
  margin: 10% 0;
  background-color: pink;
  width: 100%;
  height: 30px;
}
